
      
- if @list.any?
  %table
    %tr
      %th Host
      %th Port
      %th Name
    -for client in @peers
      %tr
        %td= client.target.gsub(/\.$/, '')
        %td= client.port
        %td= client.name
- else
  %h2 No peers running in the pool.